@model sporting.Models.Event

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" asp-controller="Event" method="post">
                    <div class="mt-4">
                        <label asp-for="Name">Event name</label>
                        <input asp-for="Name" class="form-control" type="text" placeholder="World Championship">
                    </div>
                    <div class="mt-4">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" type="text" class="form-control" placeholder="Event details..."></textarea>
                    </div>
                    <div class="mt-4">
                        <label asp-for="SportType">Sport</label>
                        <select asp-for="SportType" class="form-control">
                            <option selected disabled>Select a sport</option>
                            <option value="Swimming">Swimming</option>
                            <option value="Running">Running</option>
                            <option value="Football">Football</option>
                            <option value="Basketball">Basketball</option>
                        </select>
                    </div>
                    
                    <div class="mt-4">
                        <label asp-for="Venue">Venue</label>
                        <input asp-for="Venue" type="text" class="form-control" placeholder="Aquatic Complex">
                    </div>
                    
                    <div class="mt-4">
                        <label asp-for="StartDate">Start date</label>
                        <input asp-for="StartDate" type="date" class="form-control">
                    </div>
                    
                    <button class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>